<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Musicoterapia,Musictherapy,TEA,Autismo,Discapacidad">
	<meta name="description" content="Portal dedicado a la Musicoterapia y sus campos de aplicacion">
	<title>Musicoterapia Hoy</title>
	<link rel="icon" href=../img/icono.ico>
	<LINK REL=StyleSheet HREF="stylesheet-prueba.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
	<nav>
       <div class="logoytitulo__centrado"> <img src="../img/logomt15.svg" alt="Logo" id=inicio class="imglogo">
       	  <h1>Musicoterapia Hoy</h1>  
       	</div>
       		<ul>
       			 <li><a href=../Index.html> Home </a></li>
       			 <li><a href=lamusicoterapia.html> La Musicoterapia </a></li>
       			 <li><a href=accesibilidad.html> Accesibilidad  </a></li>
       		 	 <li><a href=sesiones.html> Sesiones </a></li>
       			 <li><a href=contacto.html> Contacto </a></li>
        	</ul>
    </nav> 
    <header>
    	<h2>Accesibilidad e inclusion en la diversidad</h2>
    </header>
    <main>
        <section class="contenedor">
       		<article>
       			<h2>Accesibilidad</h2>
       			<p class="parrafo_color">Desde nuestro espacio trabajamos con la mayor cantidad de recursos que la técnologia hoy nos ofrece para optimizar la calidad de la experiencia terapéutica de nuestros usuarios de acuerdo a los objetivos para trabajar en cada caso.</p>
       		</article>
       		<article> 
       			<p>En este espacio te contaremos las herramientas más convenientes que utilizamos tanto desde el campo digital como desde las adaptaciones fisicas</p>
       		</article>
       </section>
       <div>
    		<button><a href=#inicio>Ir al inicio</a></button>
    	</div>
    </main>
	<footer>

		<div class="footer__consultasdudas--center">
		
			<p>Consultas y dudas</p>
				<a href=../views/contacto.html> Contacto </a>		
		</div>

		
		<div class="footer__contacto--center">
			<p>Nuestras Redes</p>

				<a href="https://facebook.com" facebook="gris" target=_BLANK>Facebook</a><br>
        		<a href="https://instagram.com" target=_BLANK>Instagram</a><br>
        		<a href="https://youtube.com" target=_BLANK>Youtube</a><br><br>
        </div>
    	    
	</footer>
</body>
</html>