<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Musicoterapia,Musictherapy,TEA,Autismo,Discapacidad">
	<meta name="description" content="Portal dedicado a la Musicoterapia y sus campos de aplicacion">
	<title>Musicoterapia Hoy</title>
	<link rel="icon" href=../img/icono.ico>
	<LINK REL=StyleSheet HREF="stylesheet-prueba.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
	<nav id="nav">
         <div class="logoytitulo__centrado"> <img src="../img/logomt15.svg" alt="Logo" id=inicio class="imglogo">
       	  <h1>Musicoterapia Hoy</h1>  
       	</div>
       		<ul>
       			 <li><a href=../Index.html> Home </a></li>
       			 <li><a href=lamusicoterapia.html> La Musicoterapia </a></li>
       			 <li><a href=accesibilidad.html> Accesibilidad  </a></li>
       		 	 <li><a href=sesiones.html> Sesiones </a></li>
       			 <li><a href=contacto.html> Contacto </a></li>
        	</ul>
    </nav> 
    <header id="header">
    	<h2>Conoce como son nuestras sesiones</h2>
    </header>

 	<main id="mainsec">

<!-- secciones y articulos a desarrollar -->
    		<section >
       			<article class="contenedor parrafo_color">
       				<h3>Sesiones de Musicoterapia</h3>
       				<p>Las sesiones de musicoterapia pueden desarrollarse en terminos individuales o grupales y desde un marco clinico o comunitario. Cualquiera sea el dispositivo desde el que se trabaje, las sesiones siempre estrán focalizadas sobre el desarrollo de la musicalidad del paciente en favor de los objetivos que se busquen alcanzar en cada caso particular.</p>
       			</article>

<!-------------- Seccion con grid responsive ------------->
       			<article> 
       					<div class="gridSesiones grid-template-columns-row">	
       					<div class="bg-green"> <h3>Propuestas con Instrumentos </h3>
       					El trabajo con instrumentos esta focalizado para el desarrollo de sesiones desde la musicoterapia improvisacional. Desde dicho modelo se utilizar al recurso de improvisación como principal estratega de concresión de objetivos terapéuticos. Para ello se echa mano del "setting instrumental" el cual esta conformado por un conjunto de instrumentos de variada naturaleza (modos de ejcución, material de construcción, exiticidad o familiariiedad, etc). Por medio del uso de instrumentos permitimos el acceso a la expresión y liberación de energias vinculados a lo emocional, que muchas veces por la patología en cuestión, sería imposible de expresar mediante recursos tradicionales como la palabra.</div>
       					<div class="bg-yellow"><h3>Propuestas con Canciones:</h3> El trabajo con canciones se utiliza para trabajar diferentes aspectos. Se parte del armado de un cancionero individual que refleje los gustos de la persona o de un cancionero grupal dependiendo del tipo de dispostivo desde el cual se este trabajando. Por medio de este recurso se pueden trabajar funciones vinculados a lo cognitivo como la memoria, la atención, el lenguaje. Funciones que se presentan muy vulneradas en enfermedades neurológicas como el alzheimer, demencias, etc. También se utiliza el recurso de la cancion como ambito de creación de letras, melodías con el objetivo de ejercitar la creatividad y el desarrollo del recurso simbólico.</div>
       					<div class="bg-green"> <h3>Trabajo con música y recursos tecnológicos:</h3> Desde este recurso se busca ampliar la accesibilidad mediante la adaptación digital a la experiencia de musicoterapia tratando de alcanzar a todas las personas más allá de su dificultad o condicionamiento. Es por ello que se echa mano de todos los recursos que la técnología nos brinda, dispositivos alternativos de ejecución de instrumentos, softwares, recursos de grabación, recursos de manipulación instrumental que faciliten el movimiento, diseños de sonidos. En constante avance e incorporación esta dimensión busca la actualización constante. </div>
       					<div class="bg-yellow"> <h3>Clinica - Comunitaria:</h3> La músicoterapia clínica se encuentra enfocada al trabajo sobre condicionamientos o dificultades reconocidas y tipificadas en una situción particular siendo el objetivo general el de elevar la calidad de vida abordando la dimensión de lo cognitivo, emocional, social y físico. La dimensión comunitaria esta orientado al trabajo sobre la dinamización de la expereincia social de la persona buscando elevar la calidad de vida mediante la utilización del recurso musical sin tener que presentar algún condicionamiento o diagnóstico preciso.</div>
       					<div class="bg-green"> <h3>Propuestas con Musica e imaginación:</h3> Este recurso pertenece al llamado de los recursos "receptivos" y se busca el ejercicio de la atención conciente pleno y el desarrollo del potencial de la persona en cuanto al uso de su imaginación. Normalmente se utlizan músicas previamente seleccionadas por una razón específica y se acompaña a la persona en el desarrollo de una visualización guiada que invita a la persona al diseño interno de escenarios soportados por la imaginación.</div>
       					<div class="bg-yellow"> <h3>Propuestas con música editada:</h3> Desde este espacio buscamos el trabajo con músicas previamente editadas ya sean las "músicas" de la industria tradicionalmente conodias, músicas de acceso libre por internet, o músicas de edición libre/adaptaciones. Este tipo de recursos pertene al tipo de de estrategia receptiva.</div>
       					<div class="bg-green"> <h3>Propuestas con adultos - niños - adolscentes - adultos mayores.</h3> Cada tramo de la vida tiene sus propias caraterísticas y es por ello que el trabajo desde la musicoterapia difere en cada momento. Desde esta consideración buscamos trabajar bajo lineamientos específicos según sea el ciclo vital en cuestion.</div>
       					<div class="bg-yellow"> <h3>Adaptaciones físicas: </h3>Desde esta área se utilizan adaptaciones físicas o analógicas a las persoans que lo precisen ya sean personas quee hayan sufrido algun tipo de condicionamiento neurológico, o que presenten condicionamientos de cualquier naturaleza a nivel fisico funcional.</div>
       					<div class="bg-green"> <h3>Musicoterapia en educación:</h3> la musicoterapia también presenta un campo de abordaje en el mundo de la educación, principalmente en la educación especial donde se busca fortalecer objetivos dados a lo terapéutico pero desde un contexto educativo</div>
       				</div>
       			</article>
   			 </section>
   			
	</main>
			 <div>
    			<button id="buttonup"><a href=#inicio>Ir al inicio</a></button>
    		</div> 
<footer id="pie">

		<div class="footer__consultasdudas--center">
		
			<p>Consultas y dudas</p>
				<a href=../views/contacto.html> Contacto </a>		
		</div>


		<div class="footer__contacto--center">
			<p>Nuestras Redes</p>

				<a href="https://facebook.com" facebook="gris" target=_BLANK>Facebook</a><br>
        		<a href="https://instagram.com" target=_BLANK>Instagram</a><br>
        		<a href="https://youtube.com" target=_BLANK>Youtube</a><br><br>
        </div>
    	    
	</footer>
</body>
</html>
